.App {
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
  padding-right: 10px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(79, 82, 80);
}
.components {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  height: 100vh;
}
